@import "./navbar";
@import "./banner";
@import "./filterSection";

.header {
  background: linear-gradient(104.14deg, #ffffff 7.68%, #82d3e4 98.67%);
  font-family: "Inter", sans-serif;
  padding-bottom: 100px;
  margin-bottom: 200px;
  position: relative;
  @include tablet {
    padding-bottom: 150px;
  }
  @include largeMobile {
    padding-bottom: 180px;
  }
  .filter-section {
    position: absolute;
    top: 85%;
    width: 100%;
    @include largeTablet {
      top: 90%;
    }
    @include tablet {
      top: 87%;
    }
    @include miniPortraitTablet {
      top: 80%;
    }
    @include largeMobile {
      top: 78%;
    }
  }
}
